<?xml version="1.0"?>
<configuration>
  <!-- startup section for .NET Framework 2.0, 3.5-->
  <!--
  <startup>
    <requiredRuntime version="v2.0.50727"/>
  </startup>
  -->
  <!-- startup section for .NET Framework 4.0 -->
  <!--
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
  </startup>
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AmiBroker.PlugInHost" publicKeyToken="c0d4fd12d3adc8e5" culture="neutral" />
        <bindingRedirect oldVersion="5.20.0.0-5.60.5.0" newVersion="5.60.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AmiBroker.BrokerIB" publicKeyToken="c0d4fd12d3adc8e5" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.8.3" newVersion="1.3.8.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>